/* Remove all default padding and margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set html and body to fill the screen */

.landing-container {
  background-color: #d8e9b5; /* light green */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.llama-logo {
  width: 100px;
  height: 100px;
  margin: 20px 0;
}

.button-group {
  display: flex;
  gap: 20px;
}

.action-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #555;
}
